@use './helpers/normalize.scss';
@use './helpers/variables.scss' as *;
@use './helpers/functions.scss' as func;

* {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 320 * $default-font);
  scroll-behavior: smooth;

  @media (width >= 500px) {
    font-size: calc(100vw / 500 * $default-font);
  }

  @media (width >= 767px) {
    font-size: calc(100vw / 767 * $default-font);
  }

  @media (width >= 1024px) {
    font-size: calc(100vw / 1024 * $default-font);
  }

  @media (width >= 1440px) {
    font-size: calc(100vw / 1440 * $default-font);
  }
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

footer {
  margin-top: auto;
}

.container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (width >= 1024px) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (width >= 1440px) {
    max-width: func.to-rem(1440);
    padding-left: func.to-rem(27);
    padding-right: func.to-rem(27);
    margin: auto;
  }
}
