.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --m: conic-gradient(#000000 10%, #000000), linear-gradient(#000000 0 0) content-box;
  -webkit-mask: var(--m);
  mask: var(--m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
