@use '../../../app/styles/helpers/variables.scss' as *;
@use '../../../app/styles/helpers/functions.scss' as func;

.button {
  cursor: pointer;
  padding: func.to-rem(15) func.to-rem(30);
  border-radius: func.to-rem(40);
  width: 100%;
  font-weight: 500;
  border: func.to-rem(1) solid transparent;
  font-style: inherit;
  text-align: center;
}

.bgLightGreen {
  background-color: $light-green;
}

.bgBlack {
  background-color: $black;
}

.txtBlack {
  color: $black;
}

.txtWhite {
  color: $white;
}

.bgTransparent {
  background-color: rgba(210, 220, 59, 0.2);
  border-color: $white;
}
