$default-font: 16;

// colors
$light-green: #d2dc3b;
$dark-green: #686d19;
$active: #fed86a;
$active-dark: #7c641c;
$red: #ff0000;
$white: #ffffff;
$black: #000000;
$gray-0: #4d4d4d;
$gray-1: #919191;
$gray-2: #bdbdbd;
$gray-3: #e0e0e0;
$gray-4: #efefef;
$beige: #cba639;

// media

$s-screen: 500px;
$sm-screen: 730px;
$m-screen: 1024px;
$lg-screen: 1440px;
